/* ----- Start Global Rules ----- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --navy-0: #ddeaf86e;
  --navy-1: #ddeaf8;
  --navy-2: #d5e5f6;
  --navy-3: #cadff4;
  --navy-4: #bdd7f1;
  --navy-5: #accdee;
  --navy-6: #97c1ea;
  --navy-7: #7db1e5;
  --navy-8: #3385d6;
  --navy-9: #0066cc;
  --navy-10: #0053a3;
  --navy-11: #004282;
  --navy-12: #003568;
  --navy-13: #002242;
  --navy-14: #001b35;
  /*  */
  --gold-1: #eee8aa;
  --gold-2: #ebe295;
  --gold-3: #ffdb58;
  --gold-4: #f4c430;
  --gold-5: #fcc200;
  --gold-6: #cca01d;
  /*  */
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  /*  */
  --bg-section-color: #e0e9f3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* height: 20000px; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* margin left and right auto ==> bash container yshd elements f center */
}

/* Small */
/* Small Screen >= 768px */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
/* Medium >= 992px */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
/* Large >= 1200px */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ----- ----- ----- ----- ----- */

/* Start Main Title */

.main-title {
  position: relative;
  /*  */
  margin: 0px auto 80px;
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  /* bcs it was taking the full width (bcs its a block element) */
  z-index: 1;
  /* bash l3ibat li ghadi ydiru FILL, ykun element huwa li fuu9 mnuhum */
  transition: 0.3s linear;
}

.main-title:hover {
  /* color: var(--navy-14); */
  border: 1px solid #fff;
  transition-delay: 0.5s;
  /* yssayn 1 second bash yssali animation */
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  width: 10px;
  height: 10px;
  background-color: var(--gold-3);
  left: -30px;
}

.main-title::after {
  background-color: var(--navy-7);
  right: -30px;
}

/* ANIMATION part */

/* mnin ndir hover 3la <H3> ghadi ybda BeforeElement.. */
.main-title:hover::before {
  z-index: -1;
  /* bash title huwa li yb9a kayban */
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  /* bash title huwa li yb9a kayban */
  animation: right-move 0.5s linear forwards;
}

/* Create the ANIMATION */

/* start animation */

@keyframes left-move {
  /* f NSS LWL dyl animation bghitu yrj3 left 0, o y7afd 3la width o height */
  50% {
    left: 0;
    width: 10px;
    height: 10px;
  }
  /* f 100%, ybda dakshi mn left 0 kima khlinah*/
  100% {
    left: 0;
    border-radius: 0;
    width: 20%;
    /* width 50% OF THE ELEMENT (H3 title) */
    height: 100%;
    /* height 100%; ghadi yakhd height kaml dly element */
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 80%;
    height: 100%;
  }
}

/* end animation */

/* End Main Title */

/* * Spikes */

.spikes {
  position: relative;
}

.spikes::after {
  content: "";
  z-index: 1;
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  background-image: linear-gradient(135deg, #fff 25%, transparent 25%),
    linear-gradient(225deg, #fff 25%, transparent 25%);
  background-size: 30px 30px;
}

/* *  */

/* ----- End Global Rules ----- */

/* ----- ----- ----- ----- ----- */

/* ----- Start Scroll Button  ----- */

#scrollBttn {
  background: linear-gradient(to right, #e1dceb 50%, #fff 50%) no-repeat scroll
    right bottom/210% 100% var(--navy-10);
  /* background-color: var(--freeze-purple); */
  padding: 10px 8px;
  position: fixed;
  bottom: 10px;
  right: -40px; /* ! -40px */
  /* border: 1px solid var(--dark); */
  border: none;
  border-top: 4px solid var(--navy-5);
  border-bottom: 4px solid var(--gold-5);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
  z-index: 99;
}

#scrollBttn i {
  color: var(--navy-14);
  /* color: var(--navy-10); */
}

#scrollBttn:hover {
  background-position: left bottom;
  border-bottom: 4px solid var(--gold-3);
  border-top: 4px solid var(--navy-11);
}

/* create a class to add it to the scrolling button */
#scrollBttn.show {
  right: 20px;
}

/* ----- End Scroll Button  ----- */

/* ----- ----- ----- ----- ----- */

/* ----- Start Header  ----- */

.header {
  background-color: #fff;
  position: relative; /* mega menu mumkin ykun 3ndha position absolute, so mumkin tkhrj ila madrnash relative hnaya */
  -webkit-box-shadow: 0 0 10px var(--navy-1);
  -moz-box-shadow: 0 0 10px var(--navy-1);
  box-shadow: 0 0 10px var(--navy-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* ila makansh space ynzlu t7t b3dyathum */
  position: relative;
}

.header .container .logo {
  padding: 10px 0;
  height: 73px;
  /* drna height f logo 9d height dyl Header, bash ila traa shi changing f links, ghadi yb9a logo  */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
  cursor: pointer;
}

/* ----- Media logo ----- */
@media (max-width: 767px) {
  .header .container .logo {
    padding: 10px 0;
    margin: auto;
  }
}

.header .container .logo:hover {
  transform: scale(1.1);
}

.header .container .main-nav {
  display: flex;
}

/* ----- Media main-nav ----- */
@media (max-width: 767px) {
  .header .container .main-nav {
    margin: auto;
  }
}

/* direct child [a] of the direct child [li], to skip the mega menu problem */
.header .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  position: relative;
  /* bash n9ad before (that needs absolute as a position) */
  color: #000;
  padding: 0 30px;
  transition: 0.3s linear;
  /*  */
  overflow: hidden;
}

/* ----- Media a ----- */
@media (max-width: 767px) {
  .header .container .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}

.header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--navy-5);
  top: 0;
  /* bash tmshi before l Fuu9 */
  left: -100%;
  /* bash ytl33 brra, o mniin n9ssu mn -100% ghadi tb9a tbaan */
  transition: 0.3s linear;
}

.header .container .main-nav > li > a:hover {
  color: var(--navy-11);
  background-color: #fafafa;
}

.header .container .main-nav > li > a:hover::before {
  left: 0;
}

/* ----- End Header  ----- */

/* ----- ----- ----- ----- ----- */

/* Start Landing */

.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -20px;
  /* b9at wa7d space blbyd lfu99 */
  width: 100%;
  height: 100%;
  background-color: var(--bg-section-color);
  z-index: -1;
  /* bash element yoverrr 3la bgC */
  transform: skewY(-5deg);
  transform-origin: top left;
}

/* ----- Media .landing::before ----- */
@media (max-width: 991px) {
  .landing::before {
    top: -40px;
  }
}

.landing .container {
  min-height: calc(100vh - 73px);
  /* 100vh - Header's Height */
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  /* bash tl3 image o text shwiya */
}

/* ----- Media .landing .container ----- */
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    /* to make the image and the text in a column direction */
    padding-bottom: 130px;
  }
}

.landing .container .text {
  flex: 1;
  /* bash yakhd space 9du 9d image */
}

/* ----- Media .container .text ----- */
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}

.landing .container .text h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 15px;
  /*  */
  background: url(../images/last.webp);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.landing .container .text p {
  font-size: 20px;
  line-height: 1.5;
  margin: 5px 0 0;
  max-width: 500px;
  color: rgb(68, 66, 66);
}

/* ----- Media text H1, P ----- */
@media (max-width: 991px) {
  .landing .container .text h1 {
    font-size: 25px;
    padding-top: 30px;
  }

  .landing .container .text p {
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 10px;
  }
}

.landing .container .image img {
  width: 550px;
  max-width: 100%;
  /* if u want to remove the img while the phone view (media) u can remove this max-width */
  /* ANIMATION */
  position: relative;
  animation: up-and-down 4s linear infinite;
}

/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
/* End Animation */

/* Media Image Animation (to pause the animation) */
@media (max-width: 991px) {
  .landing .container .image img {
    animation-play-state: paused;
  }
}

.landing .go-down {
  color: var(--navy-8);
  position: absolute;
  bottom: 30px;
  /* ghi bash ybaaan */
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s linear;
}

.landing .go-down i {
  font-size: 30px;
  transition: 0.1s;
  /* ANIMATION */
  animation: bouncing 1.5s linear infinite;
}

/* Start Animation */
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End Animation */

/* ----- Media go down i ----- */
@media (max-width: 991px) {
  .landing .go-down {
    padding-bottom: 40px;
  }
}

.landing .go-down i:hover {
  color: var(--navy-11);
}

/* End Landing */

/* ----- ----- ----- ----- ----- */

/* Start Mega Menu */

.header .mega-menu {
  position: absolute;
  /* bash madkhlsh m3a dakshi lakhr, tkun HORS workflow */
  width: 100%;
  left: 0;
  padding: 25px;
  background-color: #fff;
  z-index: -1; /* bash maybnsh mega-menu tal hover */
  opacity: 0;
  border-bottom: 3px solid var(--gold-5);
  display: flex;
  gap: 40px;
  top: calc(100% + 30px);
  /* tnzl mn top bwa7d 50px */
  /* o bash mnin ndiir hover, mybnsh mega-menu in a normal way */
  /* ghadi yban o ytl3 bdiik 50px, htsh f hover ghadi ywli top 100% */
  transition: top 0.3s linear, opacity 0.3s linear;
  /* drrt transition ghi 3la top o opacity */
}

/* HOVER */
/* li liKayna wsst main-nav mnin diir 3liha hover, l mega-menu ghadi ... */
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 2px);
}

/*  */
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 10px;
  }
}

.header .mega-menu .image img {
  max-width: 100%;
}

/*  */
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 240px;
  /* bash matnzlsh links 3la b3dyatha */
  flex: 1;
  /* bash mnin tmshi image, tfr9 space binaaat dakshi */
}

.header .mega-menu .links li {
  position: relative;
  /* htsh ghadi ndiir FILL b before o after */
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--navy-0);
  z-index: -1;
  /* bash yrj3 Lluur ka background */
  transition: 0.3s linear;
}

/* all the li mnGhiir last li  */
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px dotted var(--navy-8);
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px dotted var(--navy-8);
  }
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--navy-11);
  padding: 15px;
  display: block;
  /* bash ykhdm padding */
  font-size: 16px;
  font-weight: 600;
}

.header .mega-menu .links li a i {
  margin-right: 10px;
  color: var(--navy-10);
}

.header .mega-menu .links li a i:hover {
  color: var(--navy-9);
}

/* End Mega Menu */

/* ----- ----- ----- ----- ----- */

/* Start Types */

.types {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.types .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.types .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  /* also the img (border radius) */
  transition: transform 0.3s linear, box-shadow 0.3s linear;
  /* transition JUST on transform and boxshadow  */
}

.types .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.types .container .box img {
  width: 100%;
  /* if the images are not the same (size) */
  max-width: 100%;
}

.types .container .box .content {
  padding: 20px;
}

.types .container .box .content h3 {
  margin: 0;
  color: var(--navy-14);
  font-weight: 600;
}

.types .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: rgb(83, 83, 83);
  font-size: 14px;
}

.types .container .box .info {
  padding: 20px;
  border-top: 1px solid var(--gold-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.types .container .box .info a {
  color: var(--navy-7);
  font-weight: bold;
  transition: 0.1s linear;
}

.types .container .box .info a:hover {
  color: var(--navy-8);
}

.types .container .box .info i {
  color: var(--gold-6);
  transition: 0.1s linear;
  cursor: pointer;
}

.types .container .box .info i:hover {
  color: var(--gold-5);
}

.types .container .box:hover .info i {
  animation: move-arrow 0.6s linear infinite;
}

/* Animation */
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}

/* End Types */

/* ----- ----- ----- ----- ----- */

/* Start SomeOf */

.some-of {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--bg-section-color);
}

.some-of .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.some-of .box {
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0 2px 4px 0px rgb(0 0 0 / 12%);
}

.some-of .container .box .image {
  position: relative;
  /* bcs w'll use the before */
  overflow: hidden;
}

.some-of .container .box .image::before {
  content: "";
  position: absolute;
  /* to center the before element */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  */
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
  /* bash before effect yji fu9 o ybaan mnin ndir hover dyl scale & rotate (LOOK DOWN) */
}

.some-of .container .box .image:hover::before {
  animation: flashing 0.7s;
}

/* Animation - flashing */
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
    /* 200% bash ytl3 outside of the element */
    /* we did the overflow (hidden) */
    /* not 200% exactly (>100%) */
  }
}

.some-of .box img {
  max-width: 100%;
  transition: 0.3s;
}

.some-of .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* End SomeOf */

/* ----- ----- ----- ----- ----- */

/* Start BeMember */

.be-member {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.be-member .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.be-member .container .box {
  text-align: center;
  border: 1px solid #ccc;
}

.be-member .container .box .img-holder {
  position: relative;
  /* before&after is coming */
  overflow: hidden;
}

.be-member .container .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

.be-member .container .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -10px;
  border-style: solid;
  border-width: 0px 0px 160px 400px;
  border-color: transparent transparent white transparent;
  transition: 0.3s linear;
}

@media (min-width: 992px) {
  .be-member .container .box .img-holder::after {
    border-width: 0px 0px 160px 600px;
  }
}

.be-member .container .box .img-holder img {
  max-width: 100%;
}

.be-member .container .box:hover .img-holder::after {
  border-width: 160px 400px 160px 0px;
}

@media (min-width: 992px) {
  .be-member .container .box:hover .img-holder::after {
    border-width: 160px 600px 160px 0px;
  }
}

.be-member .container .box h2 {
  position: relative;
  font-size: 27px;
  margin: auto;
  width: fit-content;
  /* bash line li ghadi ndiruh b after yji 9d title nishan */
}

.be-member .container .box h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: calc(100% - 20px);
  /* 20px => 10px li df3t mn left o tzadt f right dik 10px so we have 20px */
  height: 3px;
}

.be-member .container .box p {
  line-height: 1.5;
  font-size: 16px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
  /*  */
}

.be-member .container .box a {
  display: block;
  border: 1px solid transparent;
  width: fit-content;
  margin: 0 auto 20px;
  /* font-weight: bold; */
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s linear;
}

/* coloring boxes by using the special classes that we gave */
/* -------- -------- -------- -------*/

/* quality */
.be-member .container .quality .img-holder::before {
  background-color: rgba(244, 64, 55, 0.6);
}

.be-member .container .quality h2::after {
  background-color: rgb(244, 64, 55);
}

.be-member .container .quality a {
  color: rgb(244, 64, 55);
  border-color: rgb(244, 64, 55);
  background: linear-gradient(to right, rgb(244, 64, 55) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/* time */
.be-member .container .time .img-holder::before {
  background-color: rgb(84, 180, 172, 0.7);
}

.be-member .container .time h2::after {
  background-color: rgb(84, 180, 172);
}

.be-member .container .time a {
  color: rgb(84, 180, 172);
  border-color: rgb(84, 180, 172);
  background: linear-gradient(to right, rgb(84, 180, 172) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/* passion */
.be-member .container .passion .img-holder::before {
  background-color: rgba(168, 120, 207, 0.7);
}

.be-member .container .passion h2::after {
  background-color: rgba(168, 120, 207);
}

.be-member .container .passion a {
  color: rgba(168, 120, 207);
  border-color: rgba(168, 120, 207);
  background: linear-gradient(to right, rgba(168, 120, 207) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/*  */
.be-member .container .box:hover a {
  background-position: left bottom;
  color: #fff;
}

/* End BeMember */

/* ----- ----- ----- ----- ----- */

/* Start Team Members */

.team {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--bg-section-color);
}

.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.team .box {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  border-radius: 6px;
  position: relative;
  /* relative to style the img with the absolute pos */
}

.team .box img {
  position: absolute;
  right: -10px;
  top: -38px;
  width: 100px;
  height: 100px;
  /* if u have the image with equal sizes (width&height) u can skip the height, width is enough (one of the two is enough)*/
  border-radius: 50%;
  border: 10px solid var(--bg-section-color);
}

.team .box img {
  transition: 0.27s linear;
  /* cursor: pointer; */
}

.team .box img:hover {
  width: 120px;
  height: 120px;
}

.team .box h3 {
  margin: 0 0 10px;
  color: var(--navy-12);
}

.team .box .title {
  color: rgb(80, 80, 80);
  display: block;
  /* block --> to apply the margin (.title is span) */
  margin-bottom: 10px;
}

.team .box .rate .filled {
  color: var(--gold-4);
}

.team .box p {
  line-height: 1.4;
  color: #777;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 0;
}

/* End Team Members */

/* ----- ----- ----- ----- ----- */

/* Start Websites */

.websites {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.websites .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.websites .container .box {
  position: relative;
  /* we will do the bgC with the before&after  */
  cursor: pointer;
}

.websites .container .box::before,
.websites .container .box::after {
  content: "";
  position: absolute;
  background-color: rgba(224, 233, 243);
  right: 0;
  /* right not left hitash baghi bgC ytn9ss mn LEFT */
  top: 0;
  height: 100%;
  border-radius: 10px;
  transition: 0.2s linear;
  border-bottom: 2px solid rgba(244, 195, 48, 0.5);
}

.websites .container .box::before {
  width: calc(100% - 60px);
  /* 60px bash tn9ss dik part */
  z-index: -2; /* bash ykun mura pic */
  /* -2 hitash f after ghadi ndiir -1 bash yji fu9u */
}

.websites .container .box::after {
  z-index: -1;
  /* -1 bash YBAAN 3la before */
  background-color: rgb(207, 224, 241);
  width: 0;
  /* bash 7ta l hover 3ad ywli width 100% - 60px */
}

/* hover */
.websites .container .box:hover::after {
  width: calc(100% - 60px);
  border-bottom: 2px solid var(--gold-5);
}

/*  */

.websites .container .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.websites .container .box .data img {
  filter: grayscale(80%);
  /* width: 100%; */
  transition: 0.3s linear;
  width: calc(100% - 60px);
  /* 60px ma3ndha ta raltion b 60px dyl before */
  /* ghi bash nkhli space l icons */
  border-radius: 10px;
}

.websites .container .box:hover .data img {
  filter: grayscale(0);
}

.websites .container .box .data .social {
  width: 60px; /* to verify the space li 3tiit */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.websites .container .box .data .social a {
  width: 60px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.websites .container .box .data .social a i {
  color: rgba(0, 54, 104, 0.7);
  transition: 0.2s linear;
}

.websites .container .box:hover .data .social a i {
  color: rgba(0, 54, 104);
}

.websites .container .box .data .social a:hover i {
  color: var(--navy-9);
}

.websites .container .box .info {
  padding-left: 80px; /* 60px ghadi yji lass9 nishan */
}

.websites .container .box .info h3 {
  margin-bottom: 0;
  color: rgba(204, 160, 29, 0.8);
  font-size: 22px;
  transition: 0.2s linear;
}

.websites .container .box .info p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 15px;
}

.websites .container .box:hover h3 {
  color: rgba(204, 160, 29);
}

/* End Websites */

/* ----- ----- ----- ----- ----- */

/* Start  Services */

.services {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--bg-section-color);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.services .container .box {
  /* border: 1px solid red; */
  background-color: #fff;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  /* to use the counter(name) f before */
  transition: 0.25s linear;
  position: relative;
}

.services .container .box::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  /* to center it */
  height: 2px;
  top: -2px;
  /* bash ytl3 lfu9 bdakshi d height nit */
  background-color: var(--navy-8);
  width: 0;
  /* when when u will hover on it width 0 >> width 100% */
  transition: 0.25s linear;
}

.services .container .box:hover {
  transform: translateY(-10px);
}

.services .container .box:hover::before {
  width: 100%;
}

/* direct child i */
.services .box > i {
  margin: 30px auto 20px;
  display: block;
  /* display block to respect the margin */
  text-align: center;
  color: #adadad;
  transition: 0.25s linear;
}

.services .container .box:hover i {
  color: #999999;
}

.services .box > h3 {
  text-align: center;
  margin: 20px 0 40px;
  font-size: 25px;
  color: var(--navy-8);
}

.services .box .info {
  padding: 15px;
  position: relative;
  background-color: #f5f5f5;
  text-align: right;
}

.services .box .info a {
  color: #696969;
  transition: 0.2s linear;
  font-weight: 600;
}

.services .box .info a:hover {
  color: #000;
}

.services .box .info::before {
  content: "0" counter(services);
  /* 01, 02, 03... */
  position: absolute;
  background-color: var(--navy-7);
  color: #fff;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  /* to center the number */
  padding-right: 15px;
  transition: 0.25s linear;
}

.services .box:hover .info::before {
  background-color: var(--navy-8);
}

.services .box .info::after {
  content: "";
  position: absolute;
  background-color: #adadad;
  top: 0;
  left: 60px; /* 80px */
  width: 20px; /* 50px */
  height: calc(100% + 0.4px);
  transform: skewX(-10deg);
  transition: 0.25s linear;
}

.services .box:hover .info::after {
  background-color: #999999;
}

/* End  Services */

/* ----- ----- ----- ----- ----- */

/* Start Languages */

.languages {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.languages .container {
  display: flex;
  align-items: center;
}

/*  */
@media (max-width: 991px) {
  .languages .container img {
    display: none;
  }
}
/*  */

.languages .container .lngs {
  flex: 1;
}

.languages .container .lngs .lng h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
}

.languages .container .lngs .lng h3 span {
  font-size: 12px;
  border: 1px solid #ccc;
  padding: 3px 5px;
  border-radius: 4px;
  color: var(--gold-6);
}

.languages .container .lngs .lng .progress {
  height: 30px;
  background-color: #eee;
  position: relative;
  /* bcs wll let the span move with pos absolute */
}

.languages .container .lngs .lng .progress span {
  position: absolute;
  left: 0;
  top: 0;
  /* to start from top left */
  height: 100%;
  background: linear-gradient(to left, var(--gold-3), var(--navy-7));
  transition: width 0.35s linear;
}

.languages .container img {
  max-width: 100%;
}

/* End Languages */

/* ----- ----- ----- ----- ----- */

/* Start Work Steps */

.work-steps {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--bg-section-color);
}

.work-steps .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* responsive */
@media (max-width: 991px) {
  .work-steps .container {
    flex-direction: column;
  }
}

.work-steps .container .main-image {
  max-width: 100%;
  margin-right: 100px;
  /* u can use Gap */
}

/* responsive */
@media (max-width: 991px) {
  .work-steps .container .main-image {
    max-width: 80%;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.work-steps .info .box {
  background-color: #f6f5f5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 6px;
  /*  */
  display: flex;
  align-items: center;
  border: 2px solid white;
  position: relative;
  z-index: 1;
}

/* responsive */
@media (max-width: 991px) {
  .work-steps .info .box {
    flex-direction: column;
    text-align: center;
  }
}

.work-steps .info .box::before {
  content: "";
  left: 50%;
  top: 50%;
  position: absolute;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  background-color: #ededed;
  z-index: -1;
  /* -1 bash ykun muuura l3iba (ana baghih yji lfu9 tal hover) */
  transition: 0.2s linear;
}

.work-steps .info .box:hover::before {
  width: 100%;
  height: 100%;
}

.work-steps .info .box img {
  width: 64px;
  margin-right: 30px;
}

/* responsive */
@media (max-width: 991px) {
  .work-steps .info .box img {
    margin: 0 0 30px;
  }
}

.work-steps .info .box .text h3 {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 1.6px;
}

/* responsive */
@media (max-width: 991px) {
  .work-steps .info .box .text h3 {
    margin-bottom: 15px;
  }
}

.work-steps .info .box .text p {
  color: #777;
  line-height: 1.6;
  margin: 10px 0 0 0;
}

/* responsive */
@media (max-width: 991px) {
  .work-steps .info .box .text p {
    line-height: 1.5;
  }
}

/* End Work Steps */

/* ----- ----- ----- ----- ----- */

/* Start Events */

.events {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.events .dots {
  background-image: url(../images/dots.png);
  position: absolute;
  width: 186px;
  height: 204px;
  /* 204 x 186 size of image */
  background-repeat: no-repeat;
}

.events .dots.dots-up {
  top: 170px;
  right: 0;
}

.events .dots.dots.dots-down {
  bottom: 170px;
  left: 0;
}

/* respnsv MOBILE*/
@media (max-width: 991px) {
  .events .dots {
    display: none;
  }
}

.events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* wrap ==> bash nkhli subscribe section 100% bash ynzl bu7du && img o time 3la LIMN */
}

.events .container img {
  max-width: 450px;
}

/* respnsv */
@media (max-width: 991px) {
  .events .container img {
    display: none;
  }
}
/*  */

.events .container .info {
  flex: 1;
  /*  */
}

.events .info .time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  gap: 10px;
}

.events .info .time .unit {
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4;
  text-align: center;
  border-radius: 6px;
  border-image: initial;
  width: 75px;
  transition: 0.2s linear;
}

.events .info .time .unit:hover {
  border-color: var(--navy-8);
}

.events .info .time span {
  display: block;
  transition: 0.2s linear;
  /* BLOCK ==> to apply the padding, border top.. */
}

.events .info .time .unit span:first-child {
  font-size: 35px;
  color: var(--navy-9);
  font-weight: 600;
  padding: 15px;
}

.events .info .time .unit span.hours,
.events .info .time .unit span.seconds {
  color: #e9de49;
}

.events .info .time .unit.color:hover {
  border-color: #e9de49;
}

.events .info .time .unit span:last-child {
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  padding: 8px 10px;
}

.events .info .time .unit:hover span:last-child {
  border-top: 1px solid var(--navy-8);
}

.events .info .time .unit.color:hover span:last-child {
  border-top: 1px solid #e9de49;
}

.events .info .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
  /* letter-spacing: 1.6px; */
  font-weight: 700;
  /* text-transform: uppercase; */
}

/* respnsv */
@media (max-width: 767px) {
  .events .info .title {
    font-size: 28px;
  }
}

.events .info .description {
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
  color: #777;
}

.events .subscribe {
  width: 100%;
  /* bash yakhd space kamla o mayjiish 7da l3iiba */
  margin-top: 50px;
}

.events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: var(--bg-section-color);
  background-color: #f6f5f5;
  /* background: linear-gradient(to right, var(--gold-1) 60%, #a1bad6); */
  border-radius: 40px;
  display: flex;
  gap: 20px;
}

/* respnsv MOBILE*/
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 6px;
  }
}

.events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 20px;
  border: none;
  flex: 1;
  /* bash yakhd space li ba9a */
  caret-color: var(--navy-8);
}

/* respnsv MOBILE */
@media (max-width: 767px) {
  .events .subscribe form input[type="email"] {
    border-radius: 6px;
    padding: 15px;
  }
}

.events .subscribe form input[type="email"]:focus {
  outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
  transition: opacity 0.2s linear;
  letter-spacing: 1.5px;
}

/* mnin diir focus 3la inputEmail placeholder ==> opacity 0 */
.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}

.events .subscribe form input[type="submit"] {
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: var(--navy-7);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s linear;
  letter-spacing: 1.5px;
}

/* respnsv MOBILE */
@media (max-width: 767px) {
  .events .subscribe form input[type="submit"] {
    border-radius: 6px;
    padding: 15px;
  }
}

.events .subscribe form input[type="submit"]:hover {
  background-color: var(--navy-8);
}

/* End Events */

/* ----- ----- ----- ----- ----- */

/* Start Pricing Plans */

.pricing-plans {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--bg-section-color);
}

.pricing-plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.pricing-plans .box {
  position: relative;
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0 2px 4px 0px rgb(0 0 0 / 12%);
  transition: 0.3s;
  background-color: #fff;
  text-align: center;
  z-index: 1;
  border-bottom: 2px solid var(--gold-4);
}

.pricing-plans .box::before,
.pricing-plans .box::after {
  content: "";
  position: absolute;
  width: 0;
  height: 50%;
  background-color: #f6f6f6;
  z-index: -1;
  transition: 0.3s;
}

.pricing-plans .box::before {
  left: 0;
  top: 0;
}

.pricing-plans .box::after {
  right: 0;
  bottom: 0;
}

.pricing-plans .box:hover::before,
.pricing-plans .box:hover::after {
  width: 100%;
}

/* respnsv LARGE SCREENS */
@media (min-width: 1200px) {
  .pricing-plans .box.popular {
    top: -20px;
  }
}
/* */

.pricing-plans .box.popular .mark {
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--gold-4);
  color: #fff;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
  /* transition: 0.2s; */
}

.pricing-plans .box.popular .mark::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0%;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  border-width: 20px;
  transition: 0.3s;
}

.pricing-plans .box.popular:hover .mark::before {
  border-color: transparent transparent #f6f6f6 transparent;
}

.pricing-plans .box .title {
  margin: 30px 0;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.pricing-plans .box img {
  width: 80px;
  margin-bottom: 30px;
}

.pricing-plans .box .price {
  margin-bottom: 20px;
}

.pricing-plans .box .amount {
  display: block;
  /* to respect all the stuff */
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--navy-10);
}

.pricing-plans .box .time {
  color: #777;
}

.pricing-plans .box ul {
  text-align: left;
}

.pricing-plans .box ul li {
  padding: 17px;
  border-top: 1px solid rgb(172, 172, 172);
  font-weight: 600;
}

.pricing-plans .box ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f00c";
  margin-right: 10px;
  font-weight: 900;
  /* font-weight: 900 ==> to see the icon */
  color: var(--navy-10);
}

.pricing-plans .box a {
  display: block;
  width: fit-content;
  border: 2px solid var(--navy-8);
  margin: 30px auto 40px;
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.2s linear;
  color: var(--navy-8);
}

.pricing-plans .box a:hover {
  color: #fff;
  border-color: var(--navy-8);
  background-color: var(--navy-8);
}

/* End Pricing Plans */

/* ----- ----- ----- ----- ----- */

/* Start Videos */

.videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.videos .container .holder {
  display: flex;
  justify-content: center;
  background-color: var(--bg-section-color);
  border: 1px solid #ddd;
  /* border: 1px solid red; */
}

/* respnsv */
@media (max-width: 991px) {
  .videos .container .holder {
    flex-direction: column;
  }
}

.videos .container .holder .list {
  min-width: 300px;
  background-color: #fff;
  /* background-color: rgb(214, 176, 222); */
}

.videos .container .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  background-color: #f4f4f4;
  /* background-color: lightgreen; */
  font-weight: bold;
}

.videos .container .holder .list ul li {
  padding: 17px;
  border-top: 1px solid #d4d4d4;
  cursor: pointer;
  transition: 0.2s linear;
  font-weight: 600;
}

.videos .container .holder .list ul li:hover {
  background-color: #f8f8f8;
  color: var(--navy-10);
}

.videos .container .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
  font-size: 14px;
  font-weight: normal;
  transition: 0.2s linear;
}

.videos .container .holder .list ul li:hover span {
  color: #000;
}

.videos .container .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.videos .container .holder .preview img {
  max-width: 100%;
}

.videos .container .holder .preview .info {
  padding: 20px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 6px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

/* End Videos */

/* ----- ----- ----- ----- ----- */

/* Start Stats */

.stats {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  /* background-color: var(--bg-section-color); */
  background-image: url(../images/stats.jpg);
  background-size: cover;
  min-height: 300px;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255 255 255 / 92%);
}

.stats h2 {
  /*  */
  font-size: 30px;
  width: fit-content;
  margin: 0 auto 50px;
  position: relative;
}

.stats .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.stats .container .box {
  background-color: #fff;
  padding: 30px 15px;
  text-align: center;
  position: relative;
  opacity: 0.75;
  transition: 0.3s linear;
}

.stats .box:hover {
  opacity: 1;
}

.stats .box::before {
  content: "";
  position: absolute;
  background-color: var(--navy-7);
  top: 0;
  right: 0;
  width: 2px;
  height: 0;
  transition: 0.8s;
}

.stats .box::after {
  content: "";
  position: absolute;
  background-color: var(--gold-3);
  bottom: 0;
  left: 0;
  width: 2px;
  height: 0;
  transition: 0.8s;
}

.stats .box:hover::after,
.stats .box:hover::before {
  height: 100%;
}

.stats .box .number {
  display: block;
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stats .box .number.money::after {
  content: "K";
  color: #777;
  font-weight: 600;
  font-size: 50px;
}

.stats .box .text {
  color: #777;
  font-weight: bold;
  font-style: italic;
}

/* End Stats */

/* ----- ----- ----- ----- ----- */

/* Start Discount */
/* ? note: this section is without container */

.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.discount .image {
  background-image: url(../images/discount-background1.jpg);
  background-size: cover;
  color: #fff;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation: change-background 5s linear infinite;
}

/* * ANIMATION .image */
@keyframes change-background {
  0%,
  100% {
    background-image: url(../images/discount-background1.jpg);
  }
  50% {
    background-image: url(../images//discount-background2.jpg);
  }
}
/* * */

.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 114, 184, 0.97);
  z-index: -1;
}

/* * respnsv */
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }

  .discount .image .content h2 {
    font-size: 34px;
  }
}

.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}

/* * respnsv */
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }

  .discount .form .content h2 {
    font-size: 34px;
  }
}

.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--navy-11);
  color: var(--navy-11);
}

.discount .form .input::placeholder {
  color: var(--navy-11);
}

.discount .form textarea.input {
  resize: none;
  height: 170px;
}

.discount .form .input:focus {
  outline: none;
}

.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: var(--navy-8);
  border: none;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s linear;
}

/* * respnsv MOBILE */
@media (max-width: 991px) {
  .discount .form [type="submit"] {
    margin-bottom: 10px;
  }
}

.discount .form [type="submit"]:hover {
  background-color: var(--navy-9);
}

/* both contents () */
.discount .content {
  text-align: center;
  padding: 0 20px;
}

.discount .content h2 {
  font-size: 40px;
  text-transform: capitalize;
  letter-spacing: -2px;
}

.discount .content p {
  font-size: 17px;
  max-width: 500px;
  line-height: 1.5;
}

.discount .content img {
  width: 300px;
  max-width: 100%;
}

/* End Discount */

/* ----- ----- ----- ----- ----- */

/* Start Footer */

.footer {
  background-color: #191919;
  padding: 70px 0 0;
}

/* * respnsv MOBILE */
@media (max-width: 991px) {
  .footer {
    text-align: center;
  }
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

/* ? box 1 (social) */

.footer .box h3 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px;
}

.footer .box .social {
  display: flex;
}

/* * rspnsv MOBILE */
@media (max-width: 991px) {
  .footer .box .social {
    justify-content: center;
  }
}

.footer .box .social li {
  margin-right: 10px;
}

.footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  transition: 0.2s linear;
  border-radius: 6px;
}

.footer .box .social li a.facebook:hover {
  color: #fff;
  background-color: #1877f2;
}

.footer .box .social li a.instagram:hover {
  color: #fff;
  background-color: #f56040;
}

.footer .box .social li a.linkedin:hover {
  color: #fff;
  background-color: #0077b5;
}

.footer .box .social li a.twitter:hover {
  color: #fff;
  background-color: #1da1f2;
}

.footer .box .text {
  line-height: 1.9;
  color: #b9b9b9;
  font-size: 15px;
}

/* ? box 2 (links) */

.footer .box .links li {
  padding: 15px 0;
  transition: 0.2s linear;
}

.footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
  padding-left: 10px;
}

.footer .box .links li:hover a {
  color: #fff;
}

.footer .box .links li a {
  color: #b9b9b9;
  transition: 0.2s linear;
}

.footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\f101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--navy-8);
  transition: 0.2s linear;
}

.footer .box .links li:hover a::before {
  color: var(--navy-9);
}

/* ? box 3 (line) */

.footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}

/* * repsnv */
@media (max-width: 991px) {
  .footer .box .line {
    flex-direction: column;
  }
}

.footer .box .line i {
  color: var(--navy-8);
  font-size: 25px;
  margin-right: 10px;
}

/* * repsnv */
@media (max-width: 991px) {
  .footer .box .line i {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.footer .box .line .info {
  line-height: 1.6;
  font-size: 15px;
  flex: 1;
}

.footer .box .line span {
  display: block;
}
/* about the span, to avoid */

/* ? box 3 (gallery) */

.footer .box.footer-gallery img {
  width: 78px;
  border: 3px solid #fff;
  margin: 2px;
}

/* ? copyright */

.footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: #fff;
  margin: 50px 0 0;
  border-top: 1px solid #444;
  letter-spacing: 1.3px;
}

.footer .copyright span {
  color: var(--navy-8);
}

/* End Footer */
