/* ----- Start Global Rules ----- */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --navy-0: #ddeaf86e;
  --navy-1: #ddeaf8;
  --navy-2: #d5e5f6;
  --navy-3: #cadff4;
  --navy-4: #bdd7f1;
  --navy-5: #accdee;
  --navy-6: #97c1ea;
  --navy-7: #7db1e5;
  --navy-8: #3385d6;
  --navy-9: #0066cc;
  --navy-10: #0053a3;
  --navy-11: #004282;
  --navy-12: #003568;
  --navy-13: #002242;
  --navy-14: #001b35;
  /*  */
  --gold-1: #eee8aa;
  --gold-2: #ebe295;
  --gold-3: #ffdb58;
  --gold-4: #f4c430;
  --gold-5: #fcc200;
  --gold-6: #cca01d;
  /*  */
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  /*  */
  --bg-section-color: #e0e9f3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  /* height: 3000px; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* margin left and right auto ==> bash container yshd elements f center */
}

/* Small */
/* Small Screen >= 768px */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
/* Medium >= 992px */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
/* Large >= 1200px */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* ----- ----- ----- ----- ----- */

/* Start Main Title */

.main-title {
  position: relative;
  /*  */
  margin: 0px auto 80px;
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 30px;
  width: fit-content;
  /* bcs it was taking the full width (bcs its a block element) */
  z-index: 1;
  /* bash l3ibat li ghadi ydiru FILL, ykun element huwa li fuu9 mnuhum */
  transition: 0.3s linear;
}

.main-title:hover {
  /* color: var(--navy-14); */
  border: 1px solid #fff;
  transition-delay: 0.5s;
  /* yssayn 1 second bash yssali animation */
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.main-title::before {
  width: 10px;
  height: 10px;
  background-color: var(--gold-3);
  left: -30px;
}

.main-title::after {
  background-color: var(--navy-7);
  right: -30px;
}

/* ANIMATION part */

/* mnin ndir hover 3la <H3> ghadi ybda BeforeElement.. */
.main-title:hover::before {
  z-index: -1;
  /* bash title huwa li yb9a kayban */
  animation: left-move 0.5s linear forwards;
}

.main-title:hover::after {
  z-index: -1;
  /* bash title huwa li yb9a kayban */
  animation: right-move 0.5s linear forwards;
}

/* Create the ANIMATION */

/* start animation */

@keyframes left-move {
  /* f NSS LWL dyl animation bghitu yrj3 left 0, o y7afd 3la width o height */
  50% {
    left: 0;
    width: 10px;
    height: 10px;
  }
  /* f 100%, ybda dakshi mn left 0 kima khlinah*/
  100% {
    left: 0;
    border-radius: 0;
    width: 20%;
    /* width 50% OF THE ELEMENT (H3 title) */
    height: 100%;
    /* height 100%; ghadi yakhd height kaml dly element */
  }
}

@keyframes right-move {
  50% {
    right: 0;
    width: 15px;
    height: 15px;
  }
  100% {
    right: 0;
    border-radius: 0;
    width: 80%;
    height: 100%;
  }
}

/* end animation */

/* End Main Title */

/* ----- End Global Rules ----- */

/* ----- ----- ----- ----- ----- */

/* ----- Start Scroll Button  ----- */

#scrollBttn {
  background: linear-gradient(to right, #e1dceb 50%, #fff 50%) no-repeat scroll
    right bottom/210% 100% var(--navy-10);
  /* background-color: var(--freeze-purple); */
  padding: 10px 8px;
  position: fixed;
  bottom: 10px;
  right: 20px; /* !!!!!!! -40px */
  /* border: 1px solid var(--dark); */
  border: none;
  border-top: 4px solid var(--navy-5);
  border-bottom: 4px solid var(--gold-5);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
  z-index: 99;
}

#scrollBttn i {
  color: var(--navy-14);
  /* color: var(--navy-10); */
}

#scrollBttn:hover {
  background-position: left bottom;
  border-bottom: 4px solid var(--gold-3);
  border-top: 4px solid var(--navy-11);
}

/* create a class to add it to the scrolling button */
#scrollBttn.show {
  right: 20px;
}

/* ----- End Scroll Button  ----- */

/* ----- ----- ----- ----- ----- */

/* ----- Start Header  ----- */

.header {
  background-color: #fff;
  position: relative; /* mega menu mumkin ykun 3ndha position absolute, so mumkin tkhrj ila madrnash relative hnaya */
  -webkit-box-shadow: 0 0 10px var(--navy-1);
  -moz-box-shadow: 0 0 10px var(--navy-1);
  box-shadow: 0 0 10px var(--navy-1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* ila makansh space ynzlu t7t b3dyathum */
  position: relative;
}

.header .container .logo {
  padding: 10px 0;
  height: 73px;
  /* drna height f logo 9d height dyl Header, bash ila traa shi changing f links, ghadi yb9a logo  */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
  cursor: pointer;
}

/* ----- Media logo ----- */
@media (max-width: 767px) {
  .header .container .logo {
    padding: 10px 0;
    margin: auto;
  }
}

.header .container .logo:hover {
  transform: scale(1.1);
}

.header .container .main-nav {
  display: flex;
}

/* ----- Media main-nav ----- */
@media (max-width: 767px) {
  .header .container .main-nav {
    margin: auto;
  }
}

/* direct child [a] of the direct child [li], to skip the mega menu problem */
.header .container .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  position: relative;
  /* bash n9ad before (that needs absolute as a position) */
  color: #000;
  padding: 0 30px;
  transition: 0.3s linear;
  /*  */
  overflow: hidden;
}

/* ----- Media a ----- */
@media (max-width: 767px) {
  .header .container .main-nav > li > a {
    font-size: 14px;
    padding: 10px;
    height: 40px;
  }
}

.header .container .main-nav > li > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--navy-5);
  top: 0;
  /* bash tmshi before l Fuu9 */
  left: -100%;
  /* bash ytl33 brra, o mniin n9ssu mn -100% ghadi tb9a tbaan */
  transition: 0.3s linear;
}

.header .container .main-nav > li > a:hover {
  color: var(--navy-11);
  background-color: #fafafa;
}

.header .container .main-nav > li > a:hover::before {
  left: 0;
}

/* ----- End Header  ----- */

/* ----- ----- ----- ----- ----- */

/* Start Landing */

.landing {
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: -20px;
  /* b9at wa7d space blbyd lfu99 */
  width: 100%;
  height: 100%;
  background-color: var(--bg-section-color);
  z-index: -1;
  /* bash element yoverrr 3la bgC */
  transform: skewY(-5deg);
  transform-origin: top left;
}

/* ----- Media .landing::before ----- */
@media (max-width: 991px) {
  .landing::before {
    top: -40px;
  }
}

.landing .container {
  min-height: calc(100vh - 73px);
  /* 100vh - Header's Height */
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  /* bash tl3 image o text shwiya */
}

/* ----- Media .landing .container ----- */
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
    /* to make the image and the text in a column direction */
    padding-bottom: 130px;
  }
}

.landing .container .text {
  flex: 1;
  /* bash yakhd space 9du 9d image */
}

/* ----- Media .container .text ----- */
@media (max-width: 991px) {
  .landing .container .text {
    text-align: center;
  }
}

.landing .container .text h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  margin-bottom: 15px;
  /*  */
  background: url(../images/last.webp);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.landing .container .text p {
  font-size: 20px;
  line-height: 1.5;
  margin: 5px 0 0;
  max-width: 500px;
  color: rgb(68, 66, 66);
}

/* ----- Media text H1, P ----- */
@media (max-width: 991px) {
  .landing .container .text h1 {
    font-size: 25px;
    padding-top: 30px;
  }

  .landing .container .text p {
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 10px;
  }
}

.landing .container .image img {
  width: 550px;
  max-width: 100%;
  /* if u want to remove the img while the phone view (media) u can remove this max-width */
  /* ANIMATION */
  position: relative;
  animation: up-and-down 4s linear infinite;
}

/* Start Animation */
@keyframes up-and-down {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -40px;
  }
}
/* End Animation */

/* Media Image Animation (to pause the animation) */
@media (max-width: 991px) {
  .landing .container .image img {
    animation-play-state: paused;
  }
}

.landing .go-down {
  color: var(--navy-8);
  position: absolute;
  bottom: 30px;
  /* ghi bash ybaaan */
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s linear;
}

.landing .go-down i {
  font-size: 30px;
  transition: 0.1s;
  /* ANIMATION */
  animation: bouncing 1.5s linear infinite;
}

/* Start Animation */
@keyframes bouncing {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
/* End Animation */

/* ----- Media go down i ----- */
@media (max-width: 991px) {
  .landing .go-down {
    padding-bottom: 40px;
  }
}

.landing .go-down i:hover {
  color: var(--navy-11);
}

/* End Landing */

/* ----- ----- ----- ----- ----- */

/* Start Mega Menu */

.header .mega-menu {
  position: absolute;
  /* bash madkhlsh m3a dakshi lakhr, tkun HORS workflow */
  width: 100%;
  left: 0;
  padding: 25px;
  background-color: #fff;
  z-index: -1; /* bash maybnsh mega-menu tal hover */
  opacity: 0;
  border-bottom: 3px solid var(--gold-5);
  display: flex;
  gap: 40px;
  top: calc(100% + 30px);
  /* tnzl mn top bwa7d 50px */
  /* o bash mnin ndiir hover, mybnsh mega-menu in a normal way */
  /* ghadi yban o ytl3 bdiik 50px, htsh f hover ghadi ywli top 100% */
  transition: top 0.3s linear, opacity 0.3s linear;
  /* drrt transition ghi 3la top o opacity */
}

/* HOVER */
/* li liKayna wsst main-nav mnin diir 3liha hover, l mega-menu ghadi ... */
.header .main-nav > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 2px);
}

/*  */
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 10px;
  }
}

.header .mega-menu .image img {
  max-width: 100%;
}

/*  */
@media (max-width: 991px) {
  .header .mega-menu .image {
    display: none;
  }
}

.header .mega-menu .links {
  min-width: 240px;
  /* bash matnzlsh links 3la b3dyatha */
  flex: 1;
  /* bash mnin tmshi image, tfr9 space binaaat dakshi */
}

.header .mega-menu .links li {
  position: relative;
  /* htsh ghadi ndiir FILL b before o after */
}

.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--navy-0);
  z-index: -1;
  /* bash yrj3 Lluur ka background */
  transition: 0.3s linear;
}

/* all the li mnGhiir last li  */
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px dotted var(--navy-8);
}

@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px dotted var(--navy-8);
  }
}

.header .mega-menu .links li:hover::before {
  width: 100%;
}

.header .mega-menu .links li a {
  color: var(--navy-11);
  padding: 15px;
  display: block;
  /* bash ykhdm padding */
  font-size: 16px;
  font-weight: 600;
}

.header .mega-menu .links li a i {
  margin-right: 10px;
  color: var(--navy-10);
}

.header .mega-menu .links li a i:hover {
  color: var(--navy-9);
}

/* End Mega Menu */

/* ----- ----- ----- ----- ----- */

/* Start Types */

.types {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.types .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.types .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  /* also the img (border radius) */
  transition: transform 0.3s linear, box-shadow 0.3s linear;
  /* transition JUST on transform and boxshadow  */
}

.types .container .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.types .container .box img {
  width: 100%;
  /* if the images are not the same (size) */
  max-width: 100%;
}

.types .container .box .content {
  padding: 20px;
}

.types .container .box .content h3 {
  margin: 0;
  color: var(--navy-14);
  font-weight: 600;
}

.types .container .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: rgb(83, 83, 83);
  font-size: 14px;
}

.types .container .box .info {
  padding: 20px;
  border-top: 1px solid var(--gold-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.types .container .box .info a {
  color: var(--navy-7);
  font-weight: bold;
  transition: 0.1s linear;
}

.types .container .box .info a:hover {
  color: var(--navy-8);
}

.types .container .box .info i {
  color: var(--gold-6);
  transition: 0.1s linear;
  cursor: pointer;
}

.types .container .box .info i:hover {
  color: var(--gold-5);
}

.types .container .box:hover .info i {
  animation: move-arrow 0.6s linear infinite;
}

/* Animation */
@keyframes move-arrow {
  100% {
    transform: translateX(10px);
  }
}

/* End Types */

/* ----- ----- ----- ----- ----- */

/* Start SomeOf */

.some-of {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--bg-section-color);
}

.some-of .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.some-of .box {
  padding: 8px;
  background-color: #fff;
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0 2px 4px 0px rgb(0 0 0 / 12%);
}

.some-of .container .box .image {
  position: relative;
  /* bcs w'll use the before */
  overflow: hidden;
}

.some-of .container .box .image::before {
  content: "";
  position: absolute;
  /* to center the before element */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*  */
  background-color: rgba(255, 255, 255, 0.2);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
  /* bash before effect yji fu9 o ybaan mnin ndir hover dyl scale & rotate (LOOK DOWN) */
}

.some-of .container .box .image:hover::before {
  animation: flashing 0.7s;
}

/* Animation - flashing */
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
    /* 200% bash ytl3 outside of the element */
    /* we did the overflow (hidden) */
    /* not 200% exactly (>100%) */
  }
}

.some-of .box img {
  max-width: 100%;
  transition: 0.3s;
}

.some-of .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}

/* End SomeOf */

/* ----- ----- ----- ----- ----- */

/* Start BeMember */

.be-member {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}

.be-member .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.be-member .container .box {
  text-align: center;
  border: 1px solid #ccc;
}

.be-member .container .box .img-holder {
  position: relative;
  /* before&after is coming */
  overflow: hidden;
}

.be-member .container .box .img-holder::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}

.be-member .container .box .img-holder::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: -10px;
  border-style: solid;
  border-width: 0px 0px 160px 400px;
  border-color: transparent transparent white transparent;
  transition: 0.3s linear;
}

@media (min-width: 992px) {
  .be-member .container .box .img-holder::after {
    border-width: 0px 0px 160px 600px;
  }
}

.be-member .container .box .img-holder img {
  max-width: 100%;
}

.be-member .container .box:hover .img-holder::after {
  border-width: 160px 400px 160px 0px;
}

@media (min-width: 992px) {
  .be-member .container .box:hover .img-holder::after {
    border-width: 160px 600px 160px 0px;
  }
}

.be-member .container .box h2 {
  position: relative;
  font-size: 25px;
  margin: auto;
  width: fit-content;
  /* bash line li ghadi ndiruh b after yji 9d title nishan */
}

.be-member .container .box h2::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  width: calc(100% - 20px);
  /* 20px => 10px li df3t mn left o tzadt f right dik 10px so we have 20px */
  height: 3px;
}

.be-member .container .box p {
  line-height: 1.5;
  font-size: 16px;
  margin: 30px 0;
  padding: 25px;
  color: #777;
  /*  */
}

.be-member .container .box a {
  display: block;
  border: 1px solid transparent;
  width: fit-content;
  margin: 0 auto 20px;
  /* font-weight: bold; */
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s linear;
}

/* coloring boxes by using the special classes that we gave */
/* -------- -------- -------- -------*/

/* quality */
.be-member .container .quality .img-holder::before {
  background-color: rgba(244, 64, 55, 0.6);
}

.be-member .container .quality h2::after {
  background-color: rgb(244, 64, 55);
}

.be-member .container .quality a {
  color: rgb(244, 64, 55);
  border-color: rgb(244, 64, 55);
  background: linear-gradient(to right, rgb(244, 64, 55) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/* time */
.be-member .container .time .img-holder::before {
  background-color: rgb(84, 180, 172, 0.7);
}

.be-member .container .time h2::after {
  background-color: rgb(84, 180, 172);
}

.be-member .container .time a {
  color: rgb(84, 180, 172);
  border-color: rgb(84, 180, 172);
  background: linear-gradient(to right, rgb(84, 180, 172) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/* passion */
.be-member .container .passion .img-holder::before {
  background-color: rgba(168, 120, 207, 0.7);
}

.be-member .container .passion h2::after {
  background-color: rgba(168, 120, 207);
}

.be-member .container .passion a {
  color: rgba(168, 120, 207);
  border-color: rgba(168, 120, 207);
  background: linear-gradient(to right, rgba(168, 120, 207) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}

/* -------- -------- -------- -------*/

/*  */
.be-member .container .box:hover a {
  background-position: left bottom;
  color: #fff;
}

/* End BeMember */
